<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boat Paradise Rental</title>
</head>
<body>
<link th:href="@{/css/table.css}" rel="stylesheet">
 <h2>Available Boats</h2>

<table>
    <tr>
        <th>Boat</th>
        <th>Boat Type</th>
        <th>€ rent per day</th>
    </tr>
    <tr th:each="boat: ${boats}">
        <td> <span th:text="${boat.getBoatName()}"> Name</span></td>
        <td> <span th:text="${boat.getBoatType()}"> Type</span></td>
        <td> <span th:text="'€' + ${boat.getBoatPrice()}"> Euro</span> </td>
    </tr>
</table>
</body>
</html>